@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {box-sizing: border-box;}

body {
    background-color: #fcf9f9;
    font-family: 'Roboto', sans-serif;

}
.teste{
    position: relative;
}
.fundo-questao{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 300px;
    width: 332px;
    background-color: rgba(167, 167, 167, 0.877);
}
/* style da barra superior*/
header {
background-color: #EC362D;
height: 69px;
font-size: 37px;
color: #FFFFFF;
font-weight: 700;
text-align: center;
padding-top: 15px;
position: sticky;
top: 0;
left: 0;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
z-index: 2;
}

.criarQuizz {
    border:1px dashed #D5D5D5 ;
    border-radius: 5px;
    width: 1051px;
    height: 181px;
    margin: auto;
    margin-top: 146px 

}
.criarQuizz span {
    color: #B9B9B9;
    font-weight: 400;
    font-size: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    width: 250px;
    height:107px ;
    margin: 7px 400px 0px 401px ;

}

.criarQuizz h2 {
    margin: 0px 449px 33px 450px ;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 21px;
    border: 1px dashed #EC362D;
    color: #EC362D;
    border-radius: 50px;
    font-weight: 400;
    line-height: 25px;
    width: 151px;
    height: 40px;
    padding-left: 25px;
    
}

.criarQuizz h2:hover{
    background-color: #EC362D;
    color: white;
    cursor: pointer;

}

/*CSS DOS QUIZZES DA API */

.todosQuizzes{
    width: 1050px;
    margin:auto;
    margin-top: 112px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.todosQuizzes img{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 65.1%, #000000 100%);
    border-radius: 5px;
    width: 340px;
    height: 180px;
}
.tQuizz{
    position: relative;
}
.nomeTQuizz{
    position: absolute;
    bottom: 20px;
    left: 5%;
    color: white;
}
.escondido{
    display: none;
}
/*
CSS do QUIZZ QUANDO FOR CLICADO
*/

.quizz{
    background-color: #E5E5E5;
    z-index: 1;
}
.imagem-quiz-click{
    position: relative;
    margin: auto;
}
.img-top-quizz{
    height: 227px;;
}
.titulo-quizz-clicado{
    position: absolute;
    top: 0;
    left: 0;
    height: 227px;
    width: 100%;
    color: white;
    font-size: 39px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 1px 1px black;

}
.pergunta{
    margin: auto;
    margin-top: 70px;
    width: 730px;
}
.opcoes{
    position: relative;
    box-sizing: border-box;
    padding: 30px;
    
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    background-color: white;
}
.opcoes p{
    font-size: 15px;
    font-weight: bold;
    margin-top: 10px;
    word-break: break-all;
}
.pergunta-quizz-clicado{
    height: 137px;
    background-color: #434CA0;
    color: white;
    font-size: 23px;
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*RESPONSIVIDADE */

@media(max-width:1100px){
    .todosQuizzes{
        flex-direction: column;
        width: 100%;
    }
    .criarQuizz{
        width: 100%;
    }
    .todosQuizzes div{
        margin: auto;
    }
    .criarQuizz {
        width: 95%;
    }
    .criarQuizz span {
        margin: auto;
    }
    .criarQuizz h2 {
        margin: auto;
    }
     .opcoes {
        width: 90%;
     }
     .pergunta-quizz-clicado{
        width: 90%;
     }
}
@media(max-width: 600px) {
    .pergunta-quizz-clicado{
        width: 75%;
     }
}